/*Site Color Values
LightGreen - #D6e8b8
Green - #94C842
Brown - #523E33
Grey - #94877E
*/

main {
  background:#94877E;
}

.row {
  width: 100%;
  margin:0;
  padding:0;
  border:0;
  
}

div.row:after {
  content: ""; /* If this is removed, the rows will collapse on itself */
  display: block;
  clear: both;
}

.dot{
  color:#94877E;
  visibility: hidden;
  margin:0;
  padding:0;
  border:0;
}

.span_10_of_12 p{
  padding:1rem 0 0 1rem;
  font-size: .85rem;
}

.span_8_of_12 {
  margin:0;
  padding:0;
  border:0;
  background:white;
}

.span_8_of_12 img {
  width: 100%;
  margin:0;
  padding:0;
  border:0;
}

.text {
  margin:0 0 2rem 0;
  padding:0;
  border:0;
  background: white;
}

.text h2 {
  font-size: 3rem;
  
  padding:0 1rem;
}

.text p {
  font-size: 1rem;
  padding:0 1rem 2rem 1rem;
}